//Login style
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-container {
  min-height: 100vh; /* lebih aman dari height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-card {
  background: white;
  padding: 32px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card select {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.text-center {
    text-align: center;
    margin-top: 5px
}
//end login
